<div>
<<<<<<< HEAD
  <div>
=======
>>>>>>> master
  <blockquote>
    <div class='container'>
      <p><%= comment.content %></p>
      <% if comment.commenter %>
        <footer><%= comment.commenter.name %></footer>
      <% end %>
    </div>
  </blockquote>
<<<<<<< HEAD
</div>
=======
>>>>>>> master
</div>
