<%= form_for [@proposal, @experiment, @comment], url: "/proposals/#{@proposal.id}/experiments/#{@experiment.id}/comments", remote: true do |f| %>
  <%= f.text_field :content %>
  <select name="stage">
    <option>Equipment</option>
    <option>Procedure</option>
    <option>Observations</option>
    <option>Results</option>
    <option>Conclusion</option>
  </select>
  <%= f.button :submit, class: 'btn btn-default' %>
<% end %>
