<h1>UFT Lab Portal</h1>
  <% @proposals.each do |proposal| %>
    <ul>
      <h2><%= proposal.title %></h2>
      <p>Department: <%= proposal.department %>
      <p>Summary: <%= proposal.summary %>
      <br>
    </ul>
  <%end%>






