<h1>Proposals</h1>

<% @proposals.each do |proposal| %>
  <ul>
    <h2><%= link_to proposal.title, proposal_path(proposal) %></h2>
    <p>Department: <%= proposal.department %>
    <p>Summary: <%= proposal.summary %>
    <br>
  </ul>
<%end%>






